# IDE ignore
.idea/

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.tmp
*.swp

# system ignore
.DS_Store
Thumbs.db

# build
/bin/comet/comet
/bin/logic/logic
/bin/job/job
/bin/comet/app.ini
/bin/logic/app.ini
/bin/job/app.ini
/bin/comet/logs
/bin/logic/logs
/bin/job/logs
/target
/configs
/dist

